nav{
 
  align-items: center;
  background-color: brown;
  overflow: hidden;
 
}
nav header{
  display: flex;
  justify-content: space-around;
  float: right;
  align-items: center;
}
nav a{
  text-decoration: none;
  padding: 10px 10px;
  color: whitesmoke;

}
nav a:hover {
  background-color: rgb(39, 88, 69);
}
/*
ul {
  display: block;
  float: right;
}
li {
  list-style: none;
  float: right;
  padding: 10px;
}
li > a {
  text-decoration: none;
  padding: 10px 10px;
  color: whitesmoke;
}*/

.picture {
  height: 550px;
  width: 550px;
  margin: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}
.text {
  font-size: 20px;
  padding-top: 40px;
  padding-left: 30px;
  font-family: cursive;
}
.card {
  height: 350px;
  width: 350px;
  position: relative;
  left: 60px;
  top: 60px;
  clip-path: circle();
  align-items: center;
}
.project {
  height: 300px;
  width: 300px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  font-size: 20px;
  padding: 30px;
  float: right;
}
.project-link{
  bottom: 0;
}
 .link{
    color:  white;
   
    font-weight: bold;
   
 
}
main{
  max-width: 1200px;
  margin: 40px auto;
}